        .blog-body .post-item:last-child {
            margin-bottom: 0;
        }

        .blog-body {
            max-height: calc(100vh - 102px);
            overflow-y: auto;
        }

        .terminal-footer {
            margin-top: 8px;
            color: #ffffff;
            line-height: 1;
            font-weight: bold;
        }

@media (max-width: 768px) {
    .blog-body {
        max-height: calc(100vh - 72px);
    }
}
